
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdicionarEmpresa</title>
</head>
<body>
    <div> 
        <form>
            <input type="text" name="Nome" placeholder="Razão Social:" /><br>
            <input type="number" name="cnpj" placeholder="CNPJ" /><br>
            <input type="text"  name="endereco" placeholder="Endereço:" /><br>
            <input type="number" name="ie" placeholder="Inscrição Estadual:" /><br>
            <input type="number" name="fone" placeholder="Telefone:" /><br>
            <input type="email" name="mail" placeholder="E-mail:" /><br>
            <input type="text" name="responsavel" placeholder="Responsável:" /><br>
            <input type="number" name="quantidade" placeholder="Quantidade de usuários/Colaboradores" /><br>
            <input type="text" name="login" placeholder="Usuário:" /><br>
            <input type="password" name="pass" placeholder="Senha:" /><br>
        </form>
    </div>
</body>
</html>
