
@{
    ViewBag.Title = "Index";
}

<h2>Trabalho em Foco</h2>
<p>login</p>
<form>
    <input type="text" name="user" placeholder="E-mail" /><br>
    <input type="password" name="pass" placeholder="Senha" /><br>
    <input type="submit" value="logar" /> 
</form>

